* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Asap Condensed';
  user-select: none;
  -webkit-user-drag: none;
}

@import './common/variables';

@import './components/separators';
@import './components/game';


