* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background: darkgrey;
}

#game {
  position: absolute;
  height: 90%;
  width: 95%;
  border: 5px solid black;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 15px black;
  background: lightgrey;
}

.section {
  height: 92%;
  width: 47%;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  background: white;
}

#left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background: #777;
}

#inventory {
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}

.inventory {
  color: white;
}

#ore {
  background: url('./assets/ore.png');
  background-size: 100% 100%;
  height: 250px;
  width: 300px;
  image-rendering: pixelated;
  cursor: pointer;
}

#ore:hover {
  height: 260px;
  width: 310px;
}

#ore:active {
  height: 250px;
  width: 300px;
}

#wood {
  display: none;
  background: url('./assets/tree.png');
  background-size: 100% 100%;
  height: 350px;
  width: 300px;
  image-rendering: pixelated;
  cursor: pointer;
}

#wood:hover {
  height: 360px;
  width: 310px;
}

#wood:active {
  height: 350px;
  width: 300px;
}


#tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
}

.tab:hover {
  text-decoration: underline;
  cursor: pointer;
}

.selected {
  text-decoration: underline;
}

.store-button {
  position: relative;
  width: 90%;
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px #222;
}

.item-name {
  flex-grow: 1;
}

.item-price {
  align-self: center;
  height: 100%;
}

#tabs-content-container {
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

#store-spacer {
  height: 100px;
}

#store-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#zone {
  visibility: hidden;
  margin-bottom: 15px;
}

.rising-number {
  z-index: 1;
  font-size: 30px;
  animation-name: moveUp;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 3s;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  font-family: 'Raleway';
}

.gold {
  color: yellow;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}



