* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.vertical-separator {
  width: 35px;
  background: url('../assets/verticalseparator.png');
  background-size: 100% auto;
  background-color: saddlebrown;
  image-rendering: pixelated;
}

.horizontal-separator {
  height: 25px;
  background: url('../assets/horizontalseparator.png');
  background-size: auto 100%;
  background-color: saddlebrown;
  image-rendering: pixelated;
}

#game {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.particle {
  position: absolute;
  z-index: 9999999;
  height: 3px;
  width: 3px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0.5;
}

.rising-number {
  position: absolute;
  font-family: 'Asap Condensed';
  font-size: 15px;
  animation: risingNumber 2s ease-out;
  animation-fill-mode: forwards;
  pointer-events: none;
  color: white;
}

@keyframes risingNumber {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

/*LEFT SIDE*/

#left {
  width: 65%;
  background-color: yellow;
  display: flex;
  flex-flow: column nowrap;
  background: url('../assets/main-bg.png');
  /*background-size: cover;*/
  background-size: auto 80%;
  image-rendering: pixelated;
}

#inventory {
  height: 10%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Abel';
  font-size: 20px;
}

#mines {
  height: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#ore-sprite {
  height: 300px;
  width: 300px;
  background: url('../assets/rock.png');
  background-size: cover;
  image-rendering: pixelated;
  cursor: pointer;
}

#ore-sprite:hover {
  height: 310px;
  width: 310px;
}

#ore-sprite:active {
  height: 300px;
  width: 300px;
}

#ore-sprite-click-area {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

#canvas-area {
  height: 19%;
  background-color: black;
  image-rendering: pixelated;
  overflow-y: hidden;
  overflow-x: auto;
}

#canvas {
  background: url('../assets/mineshaft.png');
  background-size: auto 100%;
  height: 100%;
  width: 500%;
}

.change-zone-btn {
  width: 150px;
  height: 50px;
  position: absolute;
  background: white;
  outline: none;
}


/*RIGHT SIDE*/


#right {
  flex-grow: 1;
  background-color: lightgrey;
  display: flex;
  flex-flow: column nowrap;
}

#tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  height: 13%;
}

.tab {
  height: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  background-color: #4d4d4d;
  flex-grow: 1;
}

.tab:hover {
  text-decoration: underline;
  background: lightgrey;

}

.tab p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tab:last-child {
  border-right: none;
}

#tab-content {
  padding-top: 20px;
  height: 87%;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: lightgrey;
}

.selected {
  border-bottom: none;
  text-decoration: underline;
  background: lightgrey;
}

.button {
  font-family: 'Asap Condensed';
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 20px 10px 10px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 2px #222;
  justify-content: center;
  background: snow;
}

.button:hover .button-bottom {
  display: block;
}

.sprite {
  height: 40px;
  width: 40px;
}

.button-top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.button-middle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-grow: 1;
}

.button-bottom {
  display: none;
}

#tab-content {
  font-family: 'Asap Condensed';
}

.outskirts {
  display: none;
  background: green;
}
