* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.vertical-separator {
  width: 10px;
  background: url('../assets/verticalseparator.png');
  background-size: 100% auto;
  background-color: saddlebrown;
  image-rendering: pixelated;
}

.horizontal-separator {
  height: 10px;
  background: url('../assets/horizontalseparator.png');
  background-size: auto 100%;
  background-color: saddlebrown;
  image-rendering: pixelated;
}

#game {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.rising-number {
  position: absolute;
  font-family: 'Asap Condensed';
  font-size: 15px;
  animation: risingNumber 2s ease-out;
  animation-fill-mode: forwards;
  pointer-events: none;
  color: white;
}

@keyframes risingNumber {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

/*LEFT SIDE*/

#left {
  width: 70%;
  background-color: yellow;
  display: flex;
  flex-flow: column nowrap;
  background: url('../assets/mine-bg.png');
  /*background-size: cover;*/
  background-size: contain;
}

#inventory {
  height: 10%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: 'Abel'
}

#mines {
  height: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#ore-sprite {
  height: 300px;
  width: 300px;
  background: url('../assets/ore.png');
  background-size: cover;
  image-rendering: pixelated;
  cursor: pointer;
}

#ore-sprite:hover {
  height: 310px;
  width: 310px;
}

#ore-sprite:active {
  height: 300px;
  width: 300px;
}

#ore-sprite-click-area {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
  border: 1px solid red;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

#canvas-area {
  height: 19%;
  background-color: black;
  background: url('../assets/mineshaft.png');
  background-size: auto 100%;
  image-rendering: pixelated;
}


/*RIGHT SIDE*/


#right {
  flex-grow: 1;
  background-color: #4d4d4d;
  display: flex;
  flex-flow: column nowrap;
}

#tabs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: 'Asap Condensed';
  justify-content: space-around;
  width: 100%;
  height: 150px;
}

.tab {
  width: 33.3%;
  text-align: center;
  line-height: 100px;
  border-bottom: 1px solid black;
}

.tab:not(:last-child) {
  border-right: 1px solid black;
}

.selected-tab {
  border-bottom: none;
}

#tab-content {
  flex-grow: 1;
  overflow-y: scroll;
}

#store-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#store-content:first-child {
  margin-top: 20px;
}

#store-content button {
  height: 200px;
  width: 90%;
  margin-bottom: 10px;

}
