@keyframes flyingNumber {
    
    0% {
        transform: translateY(0);
        transform: scale(1);
    }
    5% {
        transform: scale(1.8);
    }
    10% {
        transform: scale(1);
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(-200px);
    }
    
}