.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;

  .left {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    background-color: #60695d;
    background-image: url('./assets/images/bg-main_bg.png');
    background-size: cover;
    image-rendering: pixelated;

    .topbar-inventory-container {
      width: calc( 100% - 40px );
      margin: 0 20px;
      display: flex;
      flex-flow: column nowrap;

      .inventory-hanger-container {
        height: 20px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .vertical-separator {
          margin: 0 40px;
        }
      }

      $topbar-bg-color: #322011;
      .topbar-inventory {
        background: $topbar-bg-color;
        padding: 25px 50px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border: 2px solid #251910;
        box-shadow: 0 0 40px #222 inset;

        p {
          font-size: 22px;
          color: white;
          background: $topbar-bg-color;
          letter-spacing: .5px;
        }
      }
    }

    .ore-container-wrapper {
      flex-grow: 1;
      position: relative;

      .ore-container {
        position: absolute;
        height: 300px;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .ore-sprite {
          width: 100%;
          height: auto;
          position: absolute;
          bottom: 0;
          image-rendering: pixelated;
          transition: transform .1s;
          cursor: pointer;
          // border: 2px solid black;

          &:hover {
            transform: scale( 1.03 );
          }

          &:active {
            transform: scale( 0.97 );
          }
        }
        
        .ore-weak-spot-container {
          pointer-events: none;
          position: relative;
          // background: rgba(255, 0, 0, 0.5);

          .ore-weak-spot {
            pointer-events: all;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: .8;
            cursor: pointer;
          
            border: 3px solid #f3f3f3;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            border-top: 3px solid grey;
            border-bottom: 3px solid grey;
            width: 20px;
            height: 20px;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
          }
        }
      }
    }

    .quest-area-container {
      height: 150px;
      width: 100%;
      background: url('./assets/images/misc-mineshaft.png');
      background-size: auto 100%;
    }
  }

  .right-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    transition: margin-right .3s ease-in-out;

    .right {
      width: 300px;
      height: 100%;
      background: darkgray;

      .tabs-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        box-shadow: 0 0 40px #222 inset;
        background-color: #4e3013;
        text-shadow: 0 0 4px black;
        
        .tab {
          font-family: 'Germania One';
          padding: 5px 0;
          font-size: 50px;
          color: white;
          letter-spacing: 3px;

          &.blacksmith-tab {
            display: none;
          }
        }
      }
    }
  }
}