.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;

  .left {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;

    .topbar-inventory-container {
      width: calc( 100% - 40px );
      margin: 0 20px;
      display: flex;
      flex-flow: column nowrap;

      .inventory-hanger-container {
        height: 30px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .vertical-separator {
          margin: 0 40px;
          background: lightgrey;
        }
      }

      .topbar-inventory {
        padding: 25px;
        background: lightgrey;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        p {
          font-size: 25px;
        }
      }
    }

    .ore-container-wrapper {
      flex-grow: 1;
      position: relative;

      .ore-container {
        position: absolute;
        height: 300px;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .ore-sprite {
          width: 100%;
          height: auto;
          position: absolute;
          bottom: 0;
          image-rendering: pixelated;
          transition: transform .1s;
          cursor: pointer;

          &:hover {
            transform: scale( 1.03 );
          }

          &:active {
            transform: scale( 0.97 );
          }
        }
      }
    }

    .quest-area-container {
      height: 200px;
      width: 100%;
      background: darkgray;
    }
  }

  .right-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    transition: margin-right .3s ease-in-out;

    &.closed {
      margin-right: -( $separator-thickness + 300px );
    }

    .hide-shop-btn {
      position: absolute;
      height: 60px;
      width: 40px;
      left: -40px;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      background: black;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .fa-caret-left {
        color: white;
        font-size: 25px;
      }
    }

    .right {
      width: 300px;
      height: 100%;
      background: darkgray;
    }
  }
}