.particle {

  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: lightgrey;
  transition: all .5s;
  animation: particle_fall .5s forwards ease-in-out;

}



@keyframes particle_fall {
  0% {
    transform: translateY( 0 )
  }
  25% {
    transform: translateY( -10px )
  }
  100% {
    transform: translateY( 100px )
  }
}
