$uncommon-color: #5184ff;
$rare-color: #5dff51;
$unique-color: #faff51;
$epic-color: #7751ff;
$legendary-color: #ff7e51;
$mythic-color: #c60000;

.wrapper > .item-drop-popup {
    
    width: 360px;

    &.Uncommon {
      box-shadow: 0 2px 10px black, 0 0 40px $uncommon-color;
    }

    &.Rare {
      box-shadow: 0 2px 10px black, 0 0 40px $rare-color;
    }

    &.Unique {
      box-shadow: 0 2px 10px black, 0 0 40px $unique-color;
    }

    &.Epic {
      box-shadow: 0 2px 10px black, 0 0 40px $epic-color;
    }

    &.Legendary {
      box-shadow: 0 2px 10px black, 0 0 40px $legendary-color;
    }

    &.Mythic {
      box-shadow: 0 2px 10px black, 0 0 40px $mythic-color;
    }

    h1 {
      font-family: 'Germania One';

      &.Uncommon {
        color: $uncommon-color;
      }

      &.Rare {
        color: $rare-color;
      }

      &.Unique {
        color: $unique-color;
      }

      &.Epic {
        color: $epic-color;
      }

      &.Legendary {
        color: $legendary-color;
      }

      &.Mythic {
        color: $mythic-color;
      }

    }

    p {
      text-align: center;

      small {
        width: 100%;
        opacity: .3;
      }

      &.Uncommon {
        color: $uncommon-color;
      }

      &.Rare {
        color: $rare-color;
      }

      &.Unique {
        color: $unique-color;
      }

      &.Epic {
        color: $epic-color;
      }

      &.Legendary {
        color: $legendary-color;
      }

      &.Mythic {
        color: $mythic-color;
      }
    }

    > .pickaxe-sprite-container {
        height: 320px;
        width: 320px;
        margin: 15px auto 7.5px auto;
        border: 5px ridge #c4c4c4;
    }

    ul {
        list-style-type: none;
        text-align: center;
        padding-bottom: 15px;

        li {
            color: rgba( 255, 255, 255, 0.7 );

            strong {
                color: rgba( 255, 255, 255, 0.8);
                letter-spacing: .8px;
            }
        }
    }

    button {
        width: 49.66%;
        padding: 10px 0;
        font-size: 30px;
        letter-spacing: 3px;
        cursor: pointer;
        color: white;
        border: 6px ridge #6a6059;
        background: #49453f;
        box-shadow: 0 0 10px #222 inset;
        cursor: pointer;
        transition: all .1s;

        &:hover {
            transform: translateY( -5px );
            box-shadow: 0 0 10px #222 inset, 0 4px 4px rgba( 0, 0, 0, 0.3 );
        }
    }


    
}
