.wrapper > #quest-board {
  height: 700px;
  width: 500px;
  background-color: #553817;
  border: 10px double #362108;
  box-shadow: 0 0 10px 5px black, 0 0 20px black inset;
  border-radius: 5px;
  padding: 0;

  header {
    text-align: center;
    padding: 10px 0;

    h1 {
      font-family: 'Germania One';
      font-size: 55px;
      text-shadow: 0 0 10px #222, 0 0 5px gold;
    }
  }

  .quest-board-quests {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .quest {
      height: 300px;
      width: 200px;
      background-color: #fffae0;
      background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
      padding: 10px;
      transition: all .2s;
      color: black;
      cursor: pointer;
      text-align: center;
      position: relative;

      .completed, .in-progress {
        font-weight: bold;
        color: red;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX( -50% ) rotate( -20deg );
        border: 4px solid red;
        padding: 5px;
        font-size: 30px;
      }

      .in-progress {
        top: 30%;
        color: black;
        border-color: black;
        transform: translateX( -50% ) rotate( 20deg );
      }

      * {
        pointer-events: none;
      }

      &.locked {
        pointer-events: none;
        // opacity: 0.6;
        filter: brightness( 50% );
      }

      &:hover {
        transform: translateY( -6px );
        box-shadow: 0 6px 10px rgba( 0, 0, 0, 0.3 );
      }

      .pin {
        height: 7px;
        width: 7px;
        border-radius: 50%;
        margin: 0 auto;
        background: red;
        box-shadow: 0 2px 5px #222;
        margin-bottom: 10px;
      }

      .quest-name {
      }
    }
  }
}

.wrapper > #quest-sheet {
  height: 600px;
  width: 400px;
  background-color: #fffae0;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");

  header {

    h1 {
      color: #222;
      text-align: center;
    }

    i {
      color: black;
      cursor: pointer;
    }
  }
}

.wrapper > #quest-rewards-popup {

  ul {
    list-style-type: none;
  }
}

.quest-area-container {
  position: relative;
  cursor: pointer;

  * {
    pointer-events: none;
  }

  .boost-notifier {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 0;
    background: white;
    opacity: 0;

    &.clicked {
      animation: boost 1s linear forwards;
    }

    &.active {
      opacity: 1;
    }
  }

  .hero-container {
    width: calc( 100% - 28px );
    height: 100%;
    position: relative;

    .hero {
      position: absolute;
      bottom: 30px;
      color: #aaa;
      font-size: 40px;
      opacity: 0;

      &.active {
        opacity: 1;
      }

      &.moving {
        animation: moving 1s infinite linear;
      }

      &.jumping {
        animation: jumping 1s infinite linear;
      }
      
    }
  }
}

@keyframes boost {
  0% { height: 0 }
  100% { height: 100% }
}

@keyframes moving {
  0% {transform: rotate(-5deg);}
  45% {transform: rotate(-5deg);}
  50% {transform: rotate(5deg);}
  95% {transform: rotate(5deg);}
  100% {transform: rotate(-5deg);} 
}



@keyframes jumping {
  0% {transform: translateY(0);}
  30% {transform: translateY(0);}
  50% {transform: translateY(-30px);}
  80% {transform: translateY(-30px);}
  100% {transform: translateY(0);}
}