$separator-thickness: 15px;

.vertical-separator {
  height: 100%;
  width: $separator-thickness;
  image-rendering: pixelated;
  background: url('./assets/images/misc-vertical_separator.png');
  background-size: 100% auto;
}

.horizontal-separator {
  height: $separator-thickness;
  width: 100%;
  image-rendering: pixelated;
  background: url('./assets/images/misc-horizontal_separator.png');
  background-size: auto 100%;
}