.tab-content.skills {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;

  header {
    color: white;
    // background: #222;
    box-shadow: 0 4px 20px #222;
    text-align: center;
    padding: 30px 0 25px 0;

    h1 {
      font-family: 'Germania One';
      letter-spacing: 1px;
      font-size: 35px;
      text-shadow: 0 0 10px gold;
    }

    p {
      opacity: .6;
    }
  }

  .skills-container {
    // height: 1000px;
    height: 100%;
    // flex-grow: 1;
    // background: rgba();
    position: relative;
    overflow-y: auto;

    .skill {
      position: absolute;
      background: black;

      &:hover {
        cursor: pointer;
      }
    }
  }
}