$inventory-accordion-header-height: 25px;

.inventory-accordion {
  max-height: $inventory-accordion-header-height; // has to equal header height
  overflow: hidden;
  background: #222;
  color: white;
  transition: all .2s linear;
  font-size: 12px;
  padding: 0 10px;
  box-shadow: 0 0 10px black inset;

  &.open {
    max-height: 700px;

    header i {
      transform: rotate( 180deg );
    }
  }

  header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: $inventory-accordion-header-height;
    align-items: center;
    // background: grey;
    cursor: pointer;

    > p {
      letter-spacing: 1px;
      pointer-events: none;
      font-size: 15px;
      font-family: 'Germania One';
      text-align: center;
      margin-right: 5px;
    }

    i {
      transition: transform .2s;
    }
  }

  > div {
    padding: 5px 0;
    letter-spacing: .5px;
    text-align: center;

    .pickaxe-sprite-container {
      margin: 0 auto;
    }
  }

  .bag-container {
    margin: 20px 5px 10px 5px;
    border-radius: 10px;
    border: 1px solid #9c7253;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 15px 0;
    background: #4E3012;
    box-shadow: 0 0 30px #222 inset, 0 2px 10px black;

    h2 {
      position: absolute;
      top: -12px;
      font-size: 20px;
      letter-spacing: .6px;
      padding: 0 10px;
      font-family: 'Germania One';
    }

    .bag-slot {
      height: 50px;
      width: 50px;
      background: rgba( 0, 0, 0, 0.2 );
      box-shadow: 0 0 10px 1px #2b2121 inset;
      margin: 5px;
      border-radius: 5px;
    }
  }
}

.smith-progress-container {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  box-shadow: 0 0 40px #222 inset;
  background: #989898;

  > img {
    border: 1px solid black;
  }

  > div {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 10px;
    flex-grow: 1;
    justify-content: flex-end;

    .progress-bar-container {
      margin-top: 5px;
      border: 1px solid #222;
      height: 30px;

      .progress-bar {
        width: 0%;
        height: 100%;
        background: #222;
      }
    }
  }
}

.smith-upgrades {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 22px;

  > p {
    width: 100%;
    color: white;
    padding: 11px 0;
    font-family: 'Germania One';
    letter-spacing: 1px;
    text-shadow: 0 0 5px black;

    &.available-upgrade-text {
      text-shadow: 0 0 5px black, 0 0 10px gold;
      font-size: 24px;
    }

    &.locked-upgrade-text {
      opacity: .6;
    }
  }

  .smith-upgrade {
    height: 64px;
    width: 64px;
    // background: url("./assets/images/upgrade-upgrade_container.png");
    background-size: 100%;
    image-rendering: pixelated;
    box-shadow: 0 0 30px #222 inset;
    cursor: pointer;
    border: 5px ridge #443D52;
    position: relative;

    &:hover {
      box-shadow: 0 0 10px #fff inset, 0 0 30px #222 inset;
    }

    &.locked {
      cursor: not-allowed; 
      opacity: 0.2;
      filter: brightness( 70% );
    }

    .new {
      position: absolute;
      font-family: 'Germania One';
      color: red;
      top: -5px;
      right: -15px;
      z-index: 1;
      transform: rotate( 45deg );
      text-shadow: 0 0 15px #222, 0 0 3px white;
      animation: new_sign .5s infinite alternate-reverse linear;
    }

    img {
      pointer-events: none;
    }
  }
}

@keyframes new_sign {
  0% {
    transform: rotate( 40deg )
  }
  100% {
    transform: rotate( 50deg )
  }
}