* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Asap Condensed';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none; }

.vertical-separator {
  height: 100%;
  width: 15px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  background: url("./assets/images/misc-vertical_separator.png");
  background-size: 100% auto; }

.horizontal-separator {
  height: 15px;
  width: 100%;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  background: url("./assets/images/misc-horizontal_separator.png");
  background-size: auto 100%; }

.container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden; }

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%; }
  .game-container > .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #60695d;
    background-image: url("./assets/images/bg-main_bg.png");
    background-size: cover;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated; }
    .game-container > .left .topbar-inventory-container {
      width: calc( 100% - 40px);
      margin: 0 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      .game-container > .left .topbar-inventory-container .inventory-hanger-container {
        height: 20px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .game-container > .left .topbar-inventory-container .inventory-hanger-container .vertical-separator {
          margin: 0 40px; }
      .game-container > .left .topbar-inventory-container .topbar-inventory {
        background: #322011;
        padding: 25px 50px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border: 2px solid #251910;
        -webkit-box-shadow: 0 0 40px #222 inset;
        box-shadow: 0 0 40px #222 inset; }
        .game-container > .left .topbar-inventory-container .topbar-inventory p {
          font-size: 22px;
          color: white;
          background: #322011;
          letter-spacing: .5px; }
    .game-container > .left .ore-container-wrapper {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      position: relative; }
      .game-container > .left .ore-container-wrapper .ore-container {
        position: absolute;
        height: 300px;
        width: 300px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        .game-container > .left .ore-container-wrapper .ore-container .ore-sprite {
          width: 100%;
          height: auto;
          position: absolute;
          bottom: 0;
          -ms-interpolation-mode: nearest-neighbor;
          image-rendering: -webkit-optimize-contrast;
          image-rendering: -moz-crisp-edges;
          image-rendering: -o-pixelated;
          image-rendering: pixelated;
          -webkit-transition: -webkit-transform .1s;
          transition: -webkit-transform .1s;
          transition: transform .1s;
          transition: transform .1s, -webkit-transform .1s;
          cursor: pointer; }
          .game-container > .left .ore-container-wrapper .ore-container .ore-sprite:hover {
            -webkit-transform: scale(1.03);
            transform: scale(1.03); }
          .game-container > .left .ore-container-wrapper .ore-container .ore-sprite:active {
            -webkit-transform: scale(0.97);
            transform: scale(0.97); }
        .game-container > .left .ore-container-wrapper .ore-container .ore-weak-spot-container {
          pointer-events: none;
          position: relative; }
          .game-container > .left .ore-container-wrapper .ore-container .ore-weak-spot-container .ore-weak-spot {
            pointer-events: all;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: .8;
            cursor: pointer;
            border: 3px solid #f3f3f3;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50%;
            border-top: 3px solid grey;
            border-bottom: 3px solid grey;
            width: 20px;
            height: 20px;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite; }
    .game-container > .left .text-scroller-container .text-scroller {
      height: 25px;
      background: rgba(0, 0, 0, 0.6); }
    .game-container > .left .quest-area-container {
      height: 150px;
      width: 100%;
      background: url("./assets/images/misc-mineshaft.png");
      background-size: auto 100%; }
  .game-container .right-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-transition: margin-right .3s ease-in-out;
    transition: margin-right .3s ease-in-out; }
    .game-container .right-container > .right {
      width: 300px;
      height: 100%;
      background: darkgray;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      .game-container .right-container > .right .tabs-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-shadow: 0 0 40px #222 inset;
        box-shadow: 0 0 40px #222 inset;
        background-color: #4e3013;
        text-shadow: 0 0 4px black; }
        .game-container .right-container > .right .tabs-container .tab {
          font-family: 'Germania One';
          padding: 5px 0;
          font-size: 50px;
          color: white;
          letter-spacing: 3px; }
          .game-container .right-container > .right .tabs-container .tab.blacksmith-tab {
            display: none; }
      .game-container .right-container > .right .tab-content-container {
        height: 100%;
        overflow-y: auto; }

@-webkit-keyframes flyingNumber {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1); }
  5% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8); }
  10% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px); } }

@keyframes flyingNumber {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1); }
  5% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8); }
  10% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.torch {
  position: absolute;
  height: 128px;
  width: 128px;
  background: url("./assets/images/misc-torch.gif");
  background-size: 100% 100%;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  top: 30%; }

.torch-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.building {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 5px 20px 5px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  letter-spacing: .6px;
  background: url("./assets/images/misc-building_button.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 0 20px #222 inset;
  box-shadow: 0 0 20px #222 inset;
  height: 70px;
  cursor: pointer; }
  .building:hover {
    -webkit-box-shadow: 0 0 5px #fff inset;
    box-shadow: 0 0 5px #fff inset; }
  .building * {
    font-family: 'Germania One';
    pointer-events: none; }
  .building .left {
    padding-right: 5px; }
  .building .middle {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .building .middle h1 {
      text-shadow: 0 0 1px black; }
    .building .middle p {
      color: #222; }
  .building .right h1 {
    font-size: 35px;
    text-shadow: 0 0 3px black; }
