* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Asap Condensed';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  cursor: default; }

.vertical-separator, .horizontal-separator {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  z-index: 1; }
  .vertical-separator.dark, .horizontal-separator.dark {
    -webkit-filter: brightness(40%);
    filter: brightness(40%); }

.vertical-separator {
  height: 100%;
  width: 15px;
  background: url("./assets/images/misc-vertical_separator.png");
  background-size: 100% auto; }
  .vertical-separator.thin {
    width: 8px; }

.horizontal-separator {
  height: 15px;
  width: 100%;
  background: url("./assets/images/misc-horizontal_separator.png");
  background-size: auto 100%; }
  .horizontal-separator.thin {
    height: 8px; }

.container {
  height: 100vh;
  width: 100vw;
  min-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden; }
  .container .game-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%; }
    .container .game-container > .left {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      background-color: #60695d;
      background-image: url("./assets/images/bg-main_bg.png");
      background-size: cover;
      -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated; }
      .container .game-container > .left .topbar-inventory-container {
        width: calc( 100% - 40px);
        margin: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
        .container .game-container > .left .topbar-inventory-container .inventory-hanger-container {
          height: 20px;
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .container .game-container > .left .topbar-inventory-container .inventory-hanger-container .vertical-separator {
            margin: 0 40px; }
        .container .game-container > .left .topbar-inventory-container .topbar-inventory {
          background: #322011;
          padding: 20px 50px;
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          border: 6px ridge #42250f;
          -webkit-box-shadow: 0 0 40px #222 inset;
          box-shadow: 0 0 40px #222 inset; }
          .container .game-container > .left .topbar-inventory-container .topbar-inventory p {
            font-size: 22px;
            color: white;
            background: #322011;
            letter-spacing: .5px; }
      .container .game-container > .left .ore-container-wrapper {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        position: relative; }
        .container .game-container > .left .ore-container-wrapper .ore-container {
          position: absolute;
          height: 300px;
          width: 300px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
          .container .game-container > .left .ore-container-wrapper .ore-container .ore-sprite {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 0;
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: -moz-crisp-edges;
            image-rendering: -o-pixelated;
            image-rendering: pixelated;
            -webkit-transition: -webkit-transform .1s;
            transition: -webkit-transform .1s;
            transition: transform .1s;
            transition: transform .1s, -webkit-transform .1s;
            cursor: pointer; }
            .container .game-container > .left .ore-container-wrapper .ore-container .ore-sprite:hover {
              -webkit-transform: scale(1.03);
              transform: scale(1.03); }
            .container .game-container > .left .ore-container-wrapper .ore-container .ore-sprite:active {
              -webkit-transform: scale(0.97);
              transform: scale(0.97); }
          .container .game-container > .left .ore-container-wrapper .ore-container .ore-weak-spot-container {
            pointer-events: none;
            position: relative; }
            .container .game-container > .left .ore-container-wrapper .ore-container .ore-weak-spot-container .ore-weak-spot {
              display: none;
              pointer-events: all;
              position: absolute;
              top: 0px;
              left: 0px;
              opacity: .8;
              cursor: pointer;
              border: 3px solid #f3f3f3;
              background: rgba(255, 255, 255, 0.2);
              border-radius: 50%;
              border-top: 3px solid grey;
              border-bottom: 3px solid grey;
              width: 20px;
              height: 20px;
              -webkit-animation: spin 1.5s linear infinite;
              animation: spin 1.5s linear infinite; }
      .container .game-container > .left .settings-container {
        position: fixed;
        padding: 5px; }
        .container .game-container > .left .settings-container i {
          color: lightgrey;
          opacity: .3;
          padding-right: 5px;
          cursor: pointer; }
          .container .game-container > .left .settings-container i:hover {
            opacity: .5; }
      .container .game-container > .left .text-scroller-container {
        background: rgba(0, 0, 0, 0.6);
        position: relative;
        height: 30px; }
        .container .game-container > .left .text-scroller-container .text-scroller {
          position: absolute;
          color: white;
          padding: 0 20px;
          min-width: -webkit-max-content;
          min-width: -moz-max-content;
          min-width: max-content; }
      .container .game-container > .left .quest-area-container {
        height: 150px;
        width: 100%;
        background: url("./assets/images/misc-mineshaft.png");
        background-size: auto 100%; }
    .container .game-container .right-container {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-transition: margin-right .3s ease-in-out;
      transition: margin-right .3s ease-in-out;
      z-index: 2; }
      .container .game-container .right-container > .right {
        width: 300px;
        height: 100%;
        background: darkgray;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
        .container .game-container .right-container > .right .tabs-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          text-shadow: 0 0 4px black;
          background-color: #4e3013; }
          .container .game-container .right-container > .right .tabs-container .tab {
            font-family: 'Germania One';
            padding: 15px 0;
            font-size: 40px;
            color: white;
            background-color: #4e3013;
            -webkit-box-shadow: 0 0 40px #222 inset;
            box-shadow: 0 0 40px #222 inset;
            letter-spacing: 3px;
            width: 50%;
            text-align: center;
            cursor: pointer;
            -webkit-transition: all .1s;
            transition: all .1s;
            -webkit-filter: blur(0.5px) brightness(60%);
            filter: blur(0.5px) brightness(60%); }
            .container .game-container .right-container > .right .tabs-container .tab:hover {
              opacity: 1;
              -webkit-filter: brightness(90%);
              filter: brightness(90%); }
            .container .game-container .right-container > .right .tabs-container .tab.selected {
              opacity: 1;
              -webkit-filter: brightness(100%);
              filter: brightness(100%); }
            .container .game-container .right-container > .right .tabs-container .tab.Smith-tab {
              background: #222; }
        .container .game-container .right-container > .right .tab-content-container {
          height: 100%;
          overflow-y: auto;
          background: -webkit-gradient(linear, left top, left bottom, from(lightgrey), to(#222));
          background: linear-gradient(to bottom, lightgrey, #222); }
          .container .game-container .right-container > .right .tab-content-container .tab-content {
            height: 100%; }
            .container .game-container .right-container > .right .tab-content-container .tab-content.store {
              background: -webkit-gradient(linear, left top, left bottom, from(#b78f6d), to(#331f0b));
              background: linear-gradient(to bottom, #b78f6d, #331f0b);
              -webkit-box-shadow: 0 0 10px #331f0b inset;
              box-shadow: 0 0 10px #331f0b inset; }
            .container .game-container .right-container > .right .tab-content-container .tab-content.smith {
              background-image: url("./assets/images/bg-smith_bg.png");
              background-repeat: repeat;
              background-color: linear-gradient(to bottom, #525252, #222);
              -webkit-box-shadow: 0 0 10px #222 inset;
              box-shadow: 0 0 10px #222 inset; }
  .container footer {
    height: 20px;
    line-height: 20px;
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    background: #222;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    -webkit-transition: color .2s;
    transition: color .2s; }
    .container footer * {
      font-weight: 300;
      font-family: 'Abel'; }
    .container footer:hover {
      color: rgba(255, 255, 255, 0.7); }
    .container footer a, .container footer span {
      cursor: pointer; }
      .container footer a:hover, .container footer span:hover {
        color: rgba(255, 255, 255, 0.9); }
    .container footer a {
      color: inherit; }
    .container footer span {
      text-decoration: underline; }

@-webkit-keyframes flyingNumber {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1); }
  5% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8); }
  10% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px); } }

@keyframes flyingNumber {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform: scale(1);
    transform: scale(1); }
  5% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8); }
  10% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px); } }

@-webkit-keyframes buildingFlyingNumber {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: .4; }
  to {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    opacity: .1; } }

@keyframes buildingFlyingNumber {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: .4; }
  to {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    opacity: .1; } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes upDown {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes slide_up_in {
  0% {
    top: 70%;
    opacity: 0; }
  100% {
    top: 50%;
    opacity: 1; } }

@keyframes slide_up_in {
  0% {
    top: 70%;
    opacity: 0; }
  100% {
    top: 50%;
    opacity: 1; } }

@-webkit-keyframes slide_down_out {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

@keyframes slide_down_out {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

@-webkit-keyframes fade_out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade_out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.torch {
  z-index: 1;
  position: absolute;
  height: 128px;
  width: 128px;
  background: url("./assets/images/misc-torch.gif");
  background-size: 100% 100%;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  top: 30%;
  pointer-events: none; }

.torch-left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.building {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 5px 20px 5px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  letter-spacing: .6px;
  background: url("./assets/images/misc-building_button.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 0 20px #222 inset;
  box-shadow: 0 0 20px #222 inset;
  height: 70px;
  cursor: pointer; }
  .building:not(.hidden):hover {
    -webkit-box-shadow: 0 0 5px #fff inset;
    box-shadow: 0 0 5px #fff inset; }
  .building.hidden {
    opacity: .7;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
    cursor: not-allowed; }
    .building.hidden img {
      -webkit-filter: brightness(0%);
      filter: brightness(0%); }
  .building * {
    font-family: 'Germania One';
    pointer-events: none; }
  .building .left {
    padding-right: 5px; }
  .building .middle {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .building .middle h1 {
      text-shadow: 0 0 1px black; }
    .building .middle p {
      color: #222; }
  .building .right h1 {
    font-size: 35px;
    text-shadow: 0 0 3px black; }

.upgrades-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-height: 50px;
  -webkit-transition: max-height .2s ease-in-out;
  transition: max-height .2s ease-in-out;
  overflow: hidden;
  background: #222; }
  .upgrades-container:hover {
    max-height: 1000px; }
  .upgrades-container .upgrade {
    height: 50px;
    width: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: url("./assets/images/upgrade-upgrade_container.png");
    background-size: 100%;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    background-color: #a0a0a0;
    -webkit-box-shadow: 0 0 30px #222 inset;
    box-shadow: 0 0 30px #222 inset;
    cursor: pointer; }
    .upgrades-container .upgrade:hover {
      -webkit-box-shadow: 0 0 10px #fff inset, 0 0 30px #222 inset;
      box-shadow: 0 0 10px #fff inset, 0 0 30px #222 inset; }

.tooltip {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  position: absolute;
  background: #222;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  padding: 10px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  min-width: 350px;
  z-index: 3;
  border: 5px ridge #353535; }
  .tooltip .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .tooltip .top img {
      height: 32px;
      width: 32px; }
    .tooltip .top h1 {
      font-family: 'Germania One';
      padding-left: 10px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      font-size: 30px;
      padding-right: 10px;
      letter-spacing: .8px; }
  .tooltip hr {
    margin: 10px 0;
    border-color: rgba(255, 255, 255, 0.2); }
  .tooltip .bottom .desc {
    padding-bottom: 10px; }
  .tooltip .bottom ul {
    list-style-type: none;
    padding-bottom: 10px; }
    .tooltip .bottom ul li {
      font-size: 14px;
      opacity: .7; }
  .tooltip .flavor-text {
    text-align: right;
    font-size: 12px;
    font-style: italic;
    opacity: .8; }

.particle {
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: lightgrey;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-animation: particle_fall .5s forwards linear;
  animation: particle_fall .5s forwards linear; }

@-webkit-keyframes particle_fall {
  0% {
    transfrom: translateY(0); }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px); } }

@keyframes particle_fall {
  0% {
    transfrom: translateY(0); }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px); } }

.wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  color: white; }
  .wrapper > div {
    background: #222;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 15px;
    min-width: 300px;
    -webkit-animation: slide_up_in .3s;
    animation: slide_up_in .3s;
    -webkit-box-shadow: 0 2px 10px black;
    box-shadow: 0 2px 10px black;
    border: 5px ridge #353535; }
    .wrapper > div .fa-times {
      position: absolute;
      top: 5px;
      right: 5px; }
    .wrapper > div > h1 {
      text-align: center;
      padding-top: 5px;
      letter-spacing: .5px; }
    .wrapper > div > .fa-times {
      cursor: pointer; }
    .wrapper > div > hr {
      border-color: rgba(255, 255, 255, 0.2);
      margin: 5px 0; }
    .wrapper > div > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .wrapper > div > div p {
        padding-right: 20px; }
    .wrapper > div.offline-gain-popup {
      text-align: center;
      padding-bottom: 5px; }
      .wrapper > div.offline-gain-popup h1 {
        font-family: 'Germania One'; }
      .wrapper > div.offline-gain-popup small {
        opacity: .7;
        font-style: italic; }
      .wrapper > div.offline-gain-popup p {
        font-size: 20px; }

.pickaxe-accordion {
  max-height: 20px;
  overflow: hidden;
  background: #222;
  color: white;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  font-size: 12px;
  padding: 0 5px;
  -webkit-box-shadow: 0 0 10px black inset;
  box-shadow: 0 0 10px black inset; }
  .pickaxe-accordion.open {
    max-height: 100px; }
    .pickaxe-accordion.open header i {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .pickaxe-accordion header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .pickaxe-accordion header > p {
      letter-spacing: 1px; }
    .pickaxe-accordion header i {
      -webkit-transition: -webkit-transform .2s;
      transition: -webkit-transform .2s;
      transition: transform .2s;
      transition: transform .2s, -webkit-transform .2s; }
  .pickaxe-accordion > div {
    padding: 10px 0;
    letter-spacing: .5px; }

.smith-progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 10px;
  -webkit-box-shadow: 0 0 40px #222 inset;
  box-shadow: 0 0 40px #222 inset;
  background: #989898; }
  .smith-progress-container > img {
    border: 1px solid black; }
  .smith-progress-container > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    padding-left: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .smith-progress-container > div .progress-bar-container {
      margin-top: 5px;
      border: 1px solid #222;
      height: 30px; }
      .smith-progress-container > div .progress-bar-container .progress-bar {
        width: 0%;
        height: 100%;
        background: #222; }

.smith-upgrades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 22px; }
  .smith-upgrades > p {
    width: 100%;
    color: white;
    padding: 11px 0; }
  .smith-upgrades .smith-upgrade {
    height: 64px;
    width: 64px;
    background-size: 100%;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-pixelated;
    image-rendering: pixelated;
    -webkit-box-shadow: 0 0 30px #222 inset;
    box-shadow: 0 0 30px #222 inset;
    cursor: pointer;
    border: 5px ridge #dfdfdf; }
    .smith-upgrades .smith-upgrade:hover {
      -webkit-box-shadow: 0 0 10px #fff inset, 0 0 30px #222 inset;
      box-shadow: 0 0 10px #fff inset, 0 0 30px #222 inset; }
    .smith-upgrades .smith-upgrade img {
      pointer-events: none; }

.automater-wrapper {
  position: absolute;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  color: white;
  -webkit-transition: left .3s;
  transition: left .3s;
  display: none;
  z-index: 2; }
  .automater-wrapper header {
    font-size: 14px;
    padding: 20px 0;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    letter-spacing: 5px;
    line-height: 25px;
    cursor: pointer;
    background: #222;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .automater-wrapper > div {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); }
    .automater-wrapper > div .automater-container {
      position: relative; }

.automater-toggle-visibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .automater-toggle-visibility i {
    padding-right: 5px; }

.automater {
  height: 65px;
  width: 65px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-transition: background .1s;
  transition: background .1s;
  cursor: default; }
  .automater.display {
    margin-top: 15px;
    pointer-events: none;
    position: relative; }
  .automater.real {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: 0;
    pointer-events: all;
    cursor: move; }
    .automater.real:active {
      opacity: 1; }
    .automater.real.set {
      opacity: .8; }
    .automater.real:hover .top-bar {
      background: white; }
    .automater.real.hidden {
      opacity: 0;
      pointer-events: none; }
    .automater.real .top-bar {
      background: rgba(255, 255, 255, 0.6); }
      .automater.real .top-bar i {
        pointer-events: all;
        cursor: pointer; }
        .automater.real .top-bar i:hover {
          color: gray; }
  .automater .top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: white;
    padding: 2px 0;
    pointer-events: none; }
    .automater .top-bar i {
      color: #222;
      font-size: 12px; }
  .automater .automater-target {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none; }
    .automater .automater-target img {
      opacity: .3;
      pointer-events: none; }
  .automater .owned {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
    z-index: 1; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 14px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  transform: translateX(14px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.achievement-notification-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  overflow-y: hidden;
  overflow-x: visible;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .achievement-notification-container .achievement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-width: 160px;
    background: #222;
    border: 1px solid white;
    -webkit-animation: winAchievement 5s ease-in-out forwards;
    animation: winAchievement 5s ease-in-out forwards;
    padding: 10px;
    overflow: hidden;
    color: white; }
    .achievement-notification-container .achievement header {
      padding-bottom: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      .achievement-notification-container .achievement header img {
        margin-right: 10px; }
      .achievement-notification-container .achievement header h1 {
        font-size: 25px; }
        .achievement-notification-container .achievement header h1 small {
          color: rgba(255, 255, 255, 0.5);
          font-size: 13px; }
    .achievement-notification-container .achievement p:not(.achievement-reward) {
      padding-bottom: 10px; }
    .achievement-notification-container .achievement .achievement-reward {
      color: lightgreen; }
      .achievement-notification-container .achievement .achievement-reward:last-child {
        padding-bottom: 10px; }

@-webkit-keyframes winAchievement {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-top: 0; }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-top: 0; }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; } }

@keyframes winAchievement {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-top: 0; }
  90% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-top: 0; }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0; } }
