* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel';
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.game {
  height: 100vh;
  width: 100vw;
  background: grey;

  display: flex;
  flex-flow: row nowrap;
}

.vertical-separator {
  height: 100vh;
  width: 20px;
  background: url('../assets/verticalseparator.png');
  background-size: 100% auto;
}

.horizontal-separator {
  height: 20px;
  width: 100%;
  background: url('../assets/horizontalseparator.png');
  background-size: auto 100%;
}

@keyframes risingNumber {
  0% {
    transform: translateY(0);
    transform: scale(1);
  }
  5% {
    transform: scale(1.5);
  }
  10% {
    transform: scale(1);
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

.item-drop {
  height: 40px;
  width: 40px;
  position: absolute;
  background: url('../assets/item-pouch.png');
  background-size: cover;
  image-rendering: auto;
  cursor: pointer;
}

.item-drop:hover {
  height: 43px;
  width: 43px;
}

.item-pickup-animation {
  animation: itemPickUp .8s;
  animation-fill-mode: forwards;
}

@keyframes itemPickUp {
  from {
    opacity: 1;
    transform: scale(1)
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

.item-modal-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  animation: modalShowAnim .1s;
}

@keyframes modalShowAnim {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1);
  }
}

.item-modal {
  width: 600px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  box-shadow: 0 0 20px rgb(225, 225, 0);
}

.item-modal-top h1 {
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.item-modal-middle {
  display: flex;
  flex-flow: row nowrap;
}

.item-modal-middle-left, .item-modal-middle-right {
  width: 50%;
  text-align: center;
}

.item-modal-img {
  position: relative;
  height: 100px;
  border: 1px solid black;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  background: url('../assets/wip.png');
  background-repeat: no-repeat;
}

.item-modal-bottom {
  padding-top: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.item-modal-bottom button {
  height: 40px;
  width: 90px;
  font-size: 20px;
  cursor: pointer;
}

.particle {
  position: absolute;
  z-index: 9999999;
  height: 3px;
  width: 3px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0.5;
}


/* LEFT SECTION */

.left-section {
  width: 70%;
  background: url('../assets/main-bg.png');
  background-size: auto 80%;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  display: flex;
  flex-flow: column nowrap;
}

.inventory-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 10%;
  color: white;
}

.ore-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.ore {
  /*background: url('../assets/rock.png');*/
  background-size: cover;
  image-rendering: pixelated;
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.ore:hover {
  height: 310px;
  width: 310px;
}

.ore:active {
  height: 300px;
  width: 300px;
}

.ore-hp {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.ore-click-area {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  border: 1px solid red;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.bottom {
  height: 20%;
  background: url('../assets/mineshaft.png');
  background-size: auto 100%;
}

/* RIGHT SECTION */

.right-section {
  flex-grow: 1;
  background: lightgrey;
  display: flex;
  flex-flow: column nowrap;
}

.tabs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 10%;
  padding-top: 10px;
  background-color: black;
}

.tab {
  height: 100%;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  /*border-bottom: 1px solid black;
  border-right: 1px solid black;*/
  border: 1px solid black;
  cursor: pointer;
  flex-grow: 1;
  background-color: darkgrey;
}

.selected {
  background-color: lightgrey;
  border-bottom: none;
}

.tab-content-container {
  padding-top: 20px;
  height: 90%;
  overflow-y: auto;
}

.tab-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: 'Asap Condensed';
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 20px 10px 10px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 2px #222;
  justify-content: center;
  background: snow;
}

.button:hover .button-bottom {
  display: block;
}

.sprite {
  height: 40px;
  width: 40px;
}

.button-top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.button-middle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  flex-grow: 1;
}

.button-bottom {
  display: none;
}

.stat-sheet {
  width: 90%;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-flow: row nowrap;
  background: snow;
  margin-bottom: 15px;
}

.stat-sheet-left, .stat-sheet-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-sheet-img {
  background: url('../assets/oldman.png');
  height: 85%;
  width: 85%;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  background-color: grey;
}

.stats-container {
  height: 85%;
  width: 85%;
}

.single-stat {
  display: flex;
  flex-flow: row nowrap;
}

.single-stat:first-child {
  flex-grow: 1;
}

.stat-left {
  flex-grow: 1;
}
