* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abel';
}

.game {
  height: 100vh;
  width: 100vw;
  background: grey;

  display: flex;
  flex-flow: row nowrap;
}

.vertical-separator {
  height: 100vh;
  width: 20px;
  background: url('../assets/verticalseparator.png');
  background-size: 100% auto;
}

.horizontal-separator {
  height: 20px;
  width: 100%;
  background: url('../assets/horizontalseparator.png');
  background-size: auto 100%;
}

@keyframes risingNumber {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

/* LEFT SECTION */

.left-section {
  width: 70%;
  background: url('../assets/main-bg.png');
  background-size: auto 80%;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  display: flex;
  flex-flow: column nowrap;
}

.inventory-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 10%;
  color: white;
}

.ore-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.ore {
  background: url('../assets/rock.png');
  background-size: cover;
  image-rendering: pixelated;
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.ore:hover {
  height: 310px;
  width: 310px;
}

.ore:active {
  height: 300px;
  width: 300px;
}

.ore-hp {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.ore-click-area {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  border: 1px solid red;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.bottom {
  height: 20%;
  background: url('../assets/mineshaft.png');
  background-size: auto 100%;
}

/* RIGHT SECTION */

.right-section {
  background: lightgrey;
  flex-grow: 1;
}
