* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  height: 100vh;
  width: 100vw;
  background: grey;

  display: flex;
  flex-flow: row nowrap;
}

.vertical-separator {
  height: 100vw;
  width: 20px;
  background: url('../assets/verticalseparator.png');
  background-size: 100% auto;
}

.rising-number {
  position: absolute;
  font-size: 15px;
  animation: risingNumber 2s ease-out;
  animation-fill-mode: forwards;
  pointer-events: none;
  color: white;
}

@keyframes risingNumber {
  0% {
    transform: translateY(0);
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}

/* LEFT SECTION */

.left-section {
  width: 70%;
  background: url('../assets/main-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  display: flex;
  flex-flow: column nowrap;
}

.inventory-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 10%;
  color: white;
}

.ore-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.ore {
  background: url('../assets/rock.png');
  background-size: cover;
  image-rendering: pixelated;
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.ore:hover {
  height: 310px;
  width: 310px;
}

.ore:active {
  height: 300px;
  width: 300px;
}

.ore-hp {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

/* RIGHT SECTION */

.right-section {
  background: green;
  flex-grow: 1;
}
